{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block pagename %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
{% if messages %}
<h2> {{ messages }} </h2>
{% endif %}
{% for key, value in list_info.items() %}
<ul>
    <li>{{ value }}
        <form method="post" style="display:inline">
            <input type="hidden" id="key" name="key" maxlength="10" value="{{ key }}" required>
            <button type="submit" name="add">+</button>
            <button type="submit" name="del">-</button>
        </form>
    </li>
</ul>
{% endfor %}
Итого: {{ res | float }}
<br><br>
{% if user_id == 0 %}
<h1>Для оформления заказа - авторизуйтесь:)</h1>
{% else %}
<form method="post">
    <div class="dropdown">
        <p>Выберите тип доставки</p>
        <p><input type="radio" value="avto" checked name="deli"/>доставка (+200 руб)</p>
        <p><input type="radio" value="self" name="deli"/>самовывоз</p>

        <label for="phone">Введите номер телефона (без 8 и тире):</label><br>
        <input type="text" id="phone" name="phone" maxlength="10" size="10" required><br><br>

        <label for="address">Введите адрес:</label><br>
        <input type="text" id="address" name="address" maxlength="200" size="160" required><br><br>

        <label for="comment">Комментарий к заказу:</label><br>
        <input type="text" id="comment" name="comment" maxlength="500" size="160"><br><br>

        <input type="hidden" id="user_id" name="user_id" maxlength="30" value="{{ user_id }}" required>
        <button type="submit" name="order">Заказать</button>
    </div>
</form>
{% endif %}
{% endblock %}